$cor1: #D32F2F;
$cor2: #D9534F;
$cor3: #EC971F;
$cor4: #F0AD4E;
$cor5: #F7E896;

$corA: #004F91;
$corB: #D32F2F;
$corC: #007E5E;
$corD: #F5F5F5;
$corE: #333333;



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

body {
    background-color: $cor5;
}

p {
    text-indent: .5in;
    text-align: justify;
}

.title-font,
h1, h2, h3 {
    font-family: 'Alex Brush', cursive;
}

.nav-font,
nav a {
    font-family: 'Montserrat', sans-serif;
}

.quotes-font,
blockquote {
    font-family: 'Great Vibes', cursive;
    // font-size: 1.4em;
}

img {
    width: 100%;
    max-width: 300px;
}

li {
    list-style: none;
}

header {
    height: 3em;
    background-color: $cor4;
}

section {
    border: 1px solid $cor2;
}

#whats_btn {
    height: 100px;
    width: 100px;
    background-color: rgba(0, 128, 0, 0.33);
    
    position: fixed;
    right: 2vw;
    bottom: 2vh;
    
    transition: all .3s;
    
    cursor: pointer;

    i {
        position: relative;
        left: 15%;
        font-size: 4.5em;
        color: rgba(255, 255, 255, 0.33);
    }
    
    &:hover {
        transform: scale(1.1);
        background-color: rgba(0, 128, 0, 1);

        i {
            color: white;
        }
    }
    
    @media (max-width: 640px) {
        height: 75px;
        width: 75px;
        
        i {
            font-size: 3.3em;
        }
    }
}

#servicos {
    // background-color: red;
}