$cor1: #D32F2F;
$cor2: #D9534F;
$cor3: #EC971F;
$cor4: #F0AD4E;
$cor5: #F7E896;

$corA: #004F91;
$corB: #D32F2F;
$corC: #007E5E;
$corD: #F5F5F5;
$corE: #333333;



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

.title-font {
    font-family: 'Alex Brush', cursive;
}

.nav-font {
    font-family: 'Montserrat', sans-serif;
}

.quotes-font {
    font-family: 'Great Vibes', cursive;
}

img {
    width: 200px;
}